/**
 * WP Rollback Styles
 */

.wpr-content-wrap {
	max-width: 805px;
}

.wpr-content-wrap h2 {
	padding: 0 0 15px 0;
}

.wpr-content-wrap h2 img {
	width: 40px;
	position: relative;
	top: 11px;
	margin-right: 10px;
}

.wpr-content-wrap p {
	font-size: 18px;
	margin-top: 10px;
}

.wpr-content-wrap p span {
	font-style: italic;
	color: #000;
	font-weight: 600;
}

.rollback-form {

}

.wpr-versions-wrap {
	padding-left: 20px;
}

.rollback-form label {
	display: block;
	padding: 8px 0;
	font-size: 16px;
}

.rollback-form label input {
	margin-right: 5px;
}

.wpr-submit-wrap {
	margin: 25px 0 0;
	border-top: 1px solid #DADADA;
	padding: 20px 0 30px;
	max-width: 765px;
}

.rollback-form .current-version {
	text-transform: lowercase;
	font-size: 12px;
	font-style: italic;
	color: #AEAEAE;
	margin-left: 14px;
}

.wpr-selected {
	font-weight: bold;
}

.wpr-rollback-disabled.magnific-popup.button-primary {
	opacity: 0.6;
	cursor: default;
	background: #B5B5B5;
	border-color: #6B6B6B;
	-webkit-box-shadow: inset 0 1px 0 rgba(249, 251, 252, 0.5), 0 1px 0 rgba( 0, 0, 0, 0.15 );
	box-shadow: inset 0 1px 0 rgba(249, 251, 252, 0.5), 0 1px 0 rgba( 0, 0, 0, 0.15 );
	color: #777;
	text-decoration: none;
}

.button-primary {
	margin-right: 5px !important;
}

/* Modal */

#wpr-modal-confirm {

}

#wpr-modal-confirm .button-primary {
	margin-right: 5px;
}

.wpr-error {
	background: #fff;
	border-left: 4px solid #FFB800;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin: 20px 0;
	padding: 1px 12px;
}

.wpr-error p {
	margin: 0.5em 0;
	padding: 2px;
}

.wpr-rollback-intro {
	font-size: 18px;
	margin-top: 0;
}
