//body {
//    background: darken($white-smoke, 15%);
//}

div.owl-item > div.slide-overlay {
    display:table-cell;
    vertical-align:middle;
    list-style-type: none;
}

.ctwd-btn {
  @include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
    //$padding,
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
    //$bg,
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
    //$radius,
    // We can set $full-width:true to remove side padding extend width. Default:false
    //$full-width,
    // We can set $disabled:true to create a disabled transparent button. Default:false
    //$disabled
  );
    padding: 15px 50px
}

/*********************
**  Full-Width
*********************/
.full-width { /*makes only rows with this class full width*/
  max-width: 100%;
}

.featured-image {
    margin-top: rem-calc(65);
    position: relative;

    @media #{$small-only} {
        margin-top: 0;

    }

    & .article-header {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba($white, 0.5);
        margin-top: -5.6rem;
        padding: 20px 100px 0px 20px;

        @media #{$small-only} {
        margin-top: -4.6rem;

        }
        h1 {
            color: $white;
        }
    }
}

/*******************************
**  Owl Carousel Customization
********************************/
.owlcarosel-container {
    margin-top: rem-calc(65);

    @media #{$small-only} {
        margin-top: 0;

    }
    .owl-carousel {
         -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
          -webkit-animation: bounceInRight 3s;
          -moz-animation: bounceInRight 3s;
          -ms-animation: bounceInRight 3s;
          -o-animation: bounceInRight 3s;
          animation: bounceInRight 3s;


    }


    .slider-overlay {
        position: absolute;
        top: 0;
        left: 0;
        margin: 80px 600px 0 120px;
        padding: 1.2rem;
        //width: 100%;
        //color: $white;
        background: rgba($white-smoke, 0.3);

        @media #{$small-only} {
        margin: 10px 20px;
        }

        @media #{$medium-only} {
            margin: 55px 80px;

        }

        h2 {
            //color: $white;
            font-weight: 900;
        }
        p {
            font-size: 20px;
            font-weight: 100;
        }
        .slide-btn {
            @extend .ctwd-btn;
            margin-top: 25px;
        }

    }

    .owl-theme .owl-dots {
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      margin-top: -70px;
      z-index: 2;
      position: relative;
      margin-left: -543px;

      @media #{$small-only} {
        display: none!important;

      }
      @media #{$medium-only} {
        display: none!important;

      }
    }

}

.sub-nav li {
  color: #999999;
  float: left;
  font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  margin-left: 1rem;
  margin-bottom: 0;
  list-style-type: none;
}

/*********************
**  Back To Top
*********************/

//colors
$black_5: rgba(0, 0, 0, 0.05);
$color_roman_80_approx: rgba($primary-color, 0.8);

//urls
$url_0: url(../images/cd-top-arrow.svg);

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	z-index: 20;
	bottom: 40px;
	right: 10px;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 10px $black_5;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: $color_roman_80_approx $url_0 no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity .3s 0s, visibility 0s .3s;
	&.cd-is-visible {
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity .3s 0s, visibility 0s 0s;
		visibility: visible;
		opacity: 1;
	}
	&.cd-fade-out {
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity .3s 0s, visibility 0s 0s;
		opacity: .5;
	}
}
@media only screen and(min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
        height: 40px;
		width: 40px;
	}
}
@media only screen and(min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}
.no-touch .cd-top:hover {
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity .3s 0s, visibility 0s 0s;
	background-color: $primary-color;
	opacity: 1;
}

