/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/


body.login {}


#login {} /* the form box */

/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
.login h1 a {
      background: url(../images/login-logo.png) no-repeat top center;
      /* Make sure to update these with the dimensions of your logo */
      width: 275px;
      height: 75px;
      text-indent: -9999px;
      overflow: hidden;
      padding-bottom: 15px;
      display: block;
}

form {

}

body form .input {

}

/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
#wp-submit {} /* login button*/

